.play-game-container {
    height: 100%;
    .operate {
        margin-bottom: 20px;
    }
    .play-game-area {
        height: 90%;
        padding: 20px;
        background-color: black;
        .area {
            .area-item {
                @size: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: @size;
                height: @size;
                background-color: aqua;
            }
        }
    }
}